@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ccc; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #353535;
    border-radius: 2px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }





header .menu01 {
    background-color: #fff;
    width: 100%;
    height: 15px;
    border-bottom: 1px solid #ccc;
}

.divMenu01 {
    background-color: #fff;
    width: 86%;
    margin-left: 8%;
    height: 100%;
}

#container {
    position: absolute;
    right: 100px;
    width: 220px;
    height: 45px;
    
    border: 1px solid transparent;
}

#container a {
    color: #333;
    text-decoration: none;
}

.cybr-border {
    --shadow-primary: #fff;

    --clip: polygon(0 0, 100% 0%, 100% 100%, 0% 0%, 90% 90%, 85% 0%, 100% 0%, 100% 100%, 100% 100%);
    transform: rotate(0deg);

    

    position: absolute;
    bottom: 0px;
    left: 0px;
    font-weight: 700;
    border-left: 0;
    min-width: 28px;
    height: 30px;
    line-height: 0px;
    display: inline-block;
}

.cybr-border:after, .cybr-border:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip);
    z-index: -1;

}

.cybr-border:before {
    background: var(--shadow-primary);
    
}

.cybr-border02 {
    --shadow-primary: #ccc;

    --clip: polygon();
    transform: rotate(136.5deg);
    


    position: absolute;
    bottom: -4.9px;
    left: 12px;
    font-weight: 700;
    border-left: 0;
    min-width: 2px;
    height: 40px;
    line-height: 0px;
    display: inline-block;
}

.cybr-border02:after, .cybr-border02:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip);
    z-index: -1;

}

.cybr-border02:before {
    background: var(--shadow-primary);
    
}



.cybr-border07 {
    --shadow-primary: #fff;

    --clip01: polygon(0 0, 100% 0%, 100% 100%, 100% 0%, 0% 0%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transform: rotate(0deg);
    

    position: absolute;
    bottom: 0px;
    right: 0px;
    font-weight: 700;

    border-bottom: 2px solid #ccc;
    text-decoration: none;
    color: #333;
    font-size: 15px;

    min-width: 192px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
}

.cybr-border07:after, .cybr-border07:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip01);
    z-index: -1;

}

.cybr-border07:before {
    background: var(--shadow-primary);
    
}

.cybr-border07 img {
    position: relative;
    right: 15px;
    width: 22px;
    margin-bottom: 4px;
}


.cybr-border08 {
    --shadow-primary: #fff;

    --clip: polygon(0 0, 100% 0%, 100% 100%, 100% 0%, 0% 0%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transform: rotate(0deg);



    position: absolute;
    bottom: 0px;
    right: 0px;
    font-weight: 700;

    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;

    min-width: 3px;
    height: 30px;
    line-height: 75px;
    display: inline-block;
}

.cybr-border08:after, .cybr-border08:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip);
    z-index: -1;

}

.cybr-border08:before {
    background: var(--shadow-primary);
    
}























header .menu02 {
    background-color: #fff;
    width: 100%;
    height: 80px;
    border-bottom: none;
    display: inline-flex;
}

header .menu02 #logoPrincipal {
    display: inline-flex;
    margin-top: 0px;
    margin-left: 6%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

header .menu02 #logoPrincipal a {
    text-decoration: none;
    color: #000;
    display: inline-flex;
}

header .menu02 #logoPrincipal a h2 {
    margin-top: 2px;
}

header .menu02 #logoPrincipal a img {
    width: 40px;
    height: 50px;
    transform: rotate(-1deg);
}

























/* Depois da Parte Principal */
header.rowT1 {
    position: relative;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: #000;
    margin: 0px;
    z-index: 20;
    display: flex;
}

header.rowT1 .season1 {
    position: relative;
    top: 0px;
    background-color: #000;
    width: 86%;
    margin-left: 8%;
    height: 100%;
}

header.rowT1.sticky{
    position: fixed;
    top: 0px;
}

/* Estilo do cabeçalho com o menu */
div.menu {
    position: relative;
    left: -35px;
}

div.menu ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    top: 5px;
}

div.menu h1{ 
    display: none;
}

/* MENU PRICIPAL */

.btn-line span:nth-child(1){
    content:'';
    position:absolute;
    top:0;
    left: 0px;;
    width: 5px;
    height:5px;
    border-top:2px solid #000;
    border-left:2px solid #000;

    transition:.75s;
}
    
.btn-line:hover span:nth-child(1), #btn-line1 span:nth-child(1){
    border-top:2px solid #00b2f0;
    border-left:2px solid #00b2f0;
    width:50%;
    height:50%;
}

.btn-line span:nth-child(2){
    content:'';
    position:absolute;
    top:0;
    right:0;
    width:5px;
    height:5px;
    border-top:2px solid #000;
    border-right:2px solid #000;
 
    transition:.75s;
}

.btn-line:hover span:nth-child(2), #btn-line1 span:nth-child(2){
    border-top:2px solid #00b2f0;
    border-right:2px solid #00b2f0;
    width:50%;
    height:50%;
}

.btn-line span:nth-child(3){
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:5px;
    height:5px;
    border-bottom:2px solid #000;
    border-left:2px solid #000;

    transition:.75s;
}

.btn-line:hover span:nth-child(3), #btn-line1 span:nth-child(3){
    border-bottom:2px solid #00b2f0;
    border-left:2px solid #00b2f0;
    width:50%;
    height:50%;
}

.btn-line span:nth-child(4){
    content:'';
    position:absolute;
    bottom:0;
    right:0;
    width:5px;
    height:5px;
    border-bottom:2px solid rgb(0, 0, 0);
    border-right:2px solid rgb(0, 0, 0);

    transition:.75s;
}

.btn-line:hover span:nth-child(4), #btn-line1 span:nth-child(4){
    border-bottom:2px solid rgb(0, 178, 240);
    border-right:2px solid rgb(0, 178, 240);
    width:50%;
    height:50%;
}

.btn-line{
    top: 0px;
    margin:0 15px;
    position:relative;
    display:inline-block;
    padding: 12px 15px!important;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing: 2px;
    font-family: 'Calibri';
    font-size:14px;
    font-weight: 600;
    -webkit-transition:.75s;
    transition:.75s;
    overflow:hidden;
}

.btn-line:hover {
    background-color: #fff;
    color: #000;
    box-shadow: rgb(0 178 240 / 60%) 5px 5px 2px;
}

#btn-line1{
    background-color: #fff;
    color: #000;
    box-shadow: rgb(0 178 240 / 60%) 5px 5px 2px;
}

.dropdown {
    position: relative;
    display: inline-block;
}





.wrapper {
    position: absolute;
    top: -2px;
    right: -35px;
    display: inline-flex;
  }
  
  .wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 16px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    top: -12%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: 50px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }























































.Pcub {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

#classCubo {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .scene {
    width: 300px;
    height: 150px;
    border: 0px solid #CCC;
    margin: 80px;
    perspective: 400px;
  }
  
  .box {
    width: 300px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(0px);
    transition: transform 1s;
  }

 label {
    box-sizing: border-box;
    padding: 0.5em 2em;
    margin: 0.6em 0.2em;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    color: #0a4069;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 0;
    flex: 1;
    text-align: center;
    display: block!important;
  }


  
  .box.show-front  { transform: translateZ( -50px) rotateY(   0deg) rotateX( 0deg); }
  .box.show-back   { transform: translateZ( -50px) rotateY(-180deg); }
  .box.show-right  { transform: translateZ(-150px) rotateY( -40deg); }
  .box.show-left   { transform: translateZ(-150px) rotateY(  40deg); }
  .box.show-top    { transform: translateZ(0px) rotateX( -50deg) rotateY( 20deg); }
  .box.show-bottom { transform: translateZ(-50px) rotateX(  60deg); }
  
  
  .box__face {
    position: absolute;
    border: 0px solid black;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  
  .box__face--front,
  .box__face--back {
    width: 300px;
    height: 150px;
    line-height: 150px;
  }

  .box__face--back {
      line-height: 10px;
      padding: 10px;
      padding-top: 50px;
      text-align: justify;
  }

  .box__face--back p {
    font-size: 18px;
    position: absolute;
    left: 20px;
    top: 35px;
  }

  .box__face--back img {
      width: 20px;
      position: absolute;
      right: 15px;
      bottom: 15px;
  }

  .box__face--front {
      font-size: 25px;
  }
  
  .box__face--right,
  .box__face--left {
    width: 100px;
    height: 150px;
    left: 100px;
    line-height: 150px;
  }
  
  .box__face--top,
  .box__face--bottom {
    width: 300px;
    height: 100px;
    top: 0px;
    bottom: 0;
    line-height: 100px;
    font-size: 18px;
  }

  .box__face--top {
      top: 50px;
  }
  
  /*
  .box__face--front  { background: linear-gradient(#151515,#0a328f); }
  .box__face--right  { background: linear-gradient(#151515,#0a328f); }
  .box__face--back   { background: linear-gradient(#151515,#0a328f); }
  .box__face--left   { background: linear-gradient(#151515,#0a328f); }
  .box__face--top    { background: linear-gradient(#151515,#151515); }
  .box__face--bottom { background: linear-gradient(#0a328f,#0a328f); }
  */

  .box__face--front  { transform: rotateY(  0deg) translateZ( 50px); }
  .box__face--back   { transform: rotateY(180deg) translateZ( 50px); }
  
  .box__face--right  { transform: rotateY( 90deg) translateZ(150px); }
  .box__face--left   { transform: rotateY(-90deg) translateZ(150px); }
  
  .box__face--top    { transform: rotateX( 90deg) translateZ(100px); }
  .box__face--bottom { transform: rotateX(-90deg) translateZ(100px); }
  
  label { margin-right: 10px; }

  .cores {
      display: grid;
  }

#botao1 {
    border: none;
    background-color: #0a328f;
    width: 150px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}

#botao2 {
    border: none;
    background-color: #00b2f0;
    width: 150px;
    height: 40px;
    color: #000;
    font-size: 18px;
    margin-bottom: 15px;
}

#botao3 {
    border: none;
    background-color: #666;
    width: 150px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}

#botao4 {
    border: none;
    background-color: #fff;
    width: 150px;
    height: 40px;
    color: #000;
    font-size: 18px;
    margin-bottom: 15px;
}

#botao5 {
    border: none;
    background-color: #000;
    width: 150px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}

























 /* RODAPÉ DO SITE COM ICONS */
 footer {
    position: relative;
    background-color: #fff;
    height: 200px;
    margin: none;
    padding: none;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 0px;
    margin-bottom: 75px;
}

footer .footer {
    width: 1366px;
}

footer div.finish-index{
    position: relative;
    width: 80%;
    border-bottom: 3px solid #000;
    top: 0px;
    left: 10%;
}

footer div.icons {
    position: relative;
    top: 5px;
    left: 15px;
    height: 50px;
}

footer div.icons a {
    text-decoration: none;
}

footer div.icons svg.bi-facebook {
    margin-right: 10px;
    color: #000;
}

footer div.icons svg.bi-facebook:hover {
    color: #0a328f;
}

footer div.icons svg.bi-instagram:hover {
    color: #e1306c;
}

footer div.copyright{
    position: relative;
    top: 40px;
    left: 10%;
    color: #000;
    width: 500px;
    font-family: 'Calibri';
    font-size: 18px
}

footer div.termos-licencas {
    position: relative;
    display: inline-block;
    top: 60px;
    left: 10%;
    color: #000;
    font-family: 'Calibri';
}

footer div a{
    margin-right: 20px;
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

