
@media screen and (min-width: 1366px), (min-width: 1280px){
    
    
    /*Sessão Após o menu principal onde fica a parte do 
    Marketing Inicnial
        <-->Sessão 01<-->
    */
    #sessao01 {
        width: 1250px;
    }

    #mktOSC img {
        width: 640px;
    }

    #sessao01 #video video {
        bottom: 0px;
        left: 8px;
    }

    #sessao01 .loader {
        left: 90px;
        bottom: 50px; 
    }

    #mktOSC .tituloPrinc {
        top: 25px;
    }
    

    /*Sessão Sobre OLKAHA
        <-->Sessão 02<-->
    */
    .ui-tabs-vertical .ui-tabs-panel .lado02 {
        margin-right: 30px;
        margin-left: 45px;
    } 


    /*Sessão Sobre OLKAHA
        <-->Sessão 03<-->
    */
    #tabelaSobre {
        width: 1275px;
    }

    .quadro {
        width: 1100px;
    }

    .janela:nth-child(1) {
        width: 1075px;
        background-size: 560px;
    }

    .janela:nth-child(1) div.janela-texto{
        width: 500px;
    }

    .janela:nth-child(2) {
        width: 1075px;
        background-size: 560px;
        left: -5px;
    }

    .janela:nth-child(2) div.janela-texto {
        width: 500px;
    }

    .janela:nth-child(3) {
        width: 1075px;
        background-size: 560px;
        left: -5px;
    }

    .janela:nth-child(3) div.janela-texto {
        width: 500px;
    }

    .janela:nth-child(4) {
        width: 1075px;
        background-size: 560px;
        left: -5px;
    }

    .janela:nth-child(4) div.janela-texto {
        width: 500px;
    }

    .janela:nth-child(5) {
        width: 1075px;
        background-size: 560px;
        left: 5px;
    }

    .janela:nth-child(5) div.janela-texto {
        width: 500px;
    }

}














@media screen and (max-width: 1024px), (max-width: 1279px){
        /*Sessão Após o menu principal onde fica a parte do 
    Marketing Inicnial
        <-->Sessão 01<-->
    */
    #sessao01 {
        width: 950px;
        height: 800px;
    }

    #mktOSC img {
        width: 0px;
    }

    #sessao01 #video video {
        bottom: 150px;
        left: 19%;
    }

    #sessao01 .loader {
        left: 90px;
        bottom: 50px; 
    }

    #mktOSC .tituloPrinc {
        top: 25px;
        width: 800px;
        left: 85px;
        text-align: center;
    }

    #sessao01 .slogaEm {
        bottom: 0px;
        left: 0px;
    }


    /*Sessão Sobre OLKAHA
        <-->Sessão 02<-->
    */
    #tabes.ui-tabs-vertical {
        width: 100%;
    }

    #tabelaSobre {
        width: 985px;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(1), #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(2),
    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(3), #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(4) {
        background-size: 0px;
        width: 220px!important;
        height: 70px;
        left: 25px;
        border: 1px solid #00b2f0;
        
        justify-content: center;
        align-items: center;
    }
    
    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(5), #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(6) {
        display: none;
    }
    

    .ui-tabs .ui-tabs-nav li {
        clear: left;
        width: 120px!important;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li{
        width: 250px!important;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav {
        display: flex;
        height: 70px;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(1) {
        background: transparent url("../_img/search.png") 93% 50% no-repeat;
        background-size: 16px;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(1), #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(2), 
    #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(3), #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(4), 
    #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(5) {
        width: 220px!important;
    }

    .ui-tabs-active a{
        color: #fff!important;
        font-size: 18px!important;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li a {
        width: 150px;
        font-size: 15px;
        margin-left: -20px;
        padding-right: 20px!important;
        padding: 5px;
        line-height: 30px;
    }

    .ui-tabs-vertical .ui-tabs-panel {
        width: 70%;
    }

    .ui-tabs-vertical .ui-tabs-panel .lado02 {
        margin-right: 80px;
        margin-left: -170px;
    } 



    /*Sessão Serviços OLKAHA
        <-->Sessão 03<-->
    */
    .quadro {
        width: 950px;
    }

    .janela:nth-child(1) {
        width: 900px;
        background-size: 425px;
        left: 20px;
    }

    .janela:nth-child(1) div.janela-texto{
        width: 500px;
        right: 0px;
    }

    .janela:nth-child(2) {
        width: 900px;
        background-size: 425px;
        right: 30px;
    }

    .janela:nth-child(2) div.janela-texto{
        width: 500px;
        left: 0px;
    }

    .janela:nth-child(3) {
        width: 900px;
        background-size: 475px;
        right: 30px;
    }

    .janela:nth-child(3) div.janela-texto{
        width: 500px;
        right: 0px;
    }

    .janela:nth-child(4) {
        width: 900px;
        background-size: 475px;
        right: 30px;
    }

    .janela:nth-child(4) div.janela-texto{
        width: 500px;
        left: 0px;
    }

    .janela:nth-child(5) {
        width: 900px;
        background-size: 475px;
        left: 20px;
    }

    .janela:nth-child(5) div.janela-texto{
        width: 500px;
        right: 0px;
    }

}




















@media screen and (max-width: 960px) {
    /*Sessão Após o menu principal onde fica a parte do 
    Marketing Inicnial
        <-->Sessão 01<-->
    */
    #sessao01 {
        width: 950px;
        height: 800px;
    }

    #mktOSC img {
        width: 0px;
    }

    #sessao01 #video video {
        bottom: 150px;
        left: 20%;
    }

    #sessao01 .loader {
        left: 90px;
        bottom: 50px; 
    }

    #mktOSC .tituloPrinc {
        top: 25px;
        width: 800px;
        left: 85px;
        text-align: center;
    }

    #sessao01 .slogaEm {
        bottom: 0px;
        left: 0px;
    }


    /*Sessão Sobre OLKAHA
        <-->Sessão 02<-->
    */
    #tabes.ui-tabs-vertical {
        width: 100%;
    }

    #tabelaSobre {
        width: 985px;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(1), #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(2),
    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(3), #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(4) {
        background-size: 0px;
        width: 220px!important;
        height: 70px;
        left: 25px;
        border: 1px solid #00b2f0;
        
        justify-content: center;
        align-items: center;
    }
    
    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(5), #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(6) {
        display: none;
    }
    

    .ui-tabs .ui-tabs-nav li {
        clear: left;
        width: 120px!important;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li{
        width: 250px!important;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav {
        display: flex;
        height: 70px;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(1) {
        background: transparent url("../_img/search.png") 93% 50% no-repeat;
        background-size: 16px;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(1), #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(2), 
    #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(3), #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(4), 
    #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(5) {
        width: 220px!important;
    }

    .ui-tabs-active a{
        color: #fff!important;
        font-size: 18px!important;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li a {
        width: 150px;
        font-size: 15px;
        margin-left: -20px;
        padding-right: 20px!important;
        padding: 5px;
        line-height: 30px;
    }

    .ui-tabs-vertical .ui-tabs-panel {
        width: 70%;
    }

    .ui-tabs-vertical .ui-tabs-panel .lado02 {
        margin-right: 80px;
        margin-left: -170px;
    } 



    /*Sessão Serviços OLKAHA
        <-->Sessão 03<-->
    */

    #servicos {
        height: 1500px;
    }

    .quadro {
        width: 800px;
        height: 1600px;
        top: 125px;
        background-color: transparent;
    }

    .janela:nth-child(1) {
        background-size: 500px;
        position: absolute;
        top: 0px;
        left: 0;
        background-position-y: 0px;
        background-position-x: -75px;
        width: 500px;
        height: 300px;
    }

    .janela:nth-child(1) div.janela-texto {
        position: relative;
        top: 0px;
        bottom: 0px;
        left: 350px;
        height: 300px;
        width: 450px;
        border-radius: 8px;
        padding-top: 20px;
    }

    .janela:nth-child(1) div.janela-texto:hover{
        transition: all .5s ease-out;
        background-color: rgb(0, 178, 240, 0.8);
        bottom: 0px;
        width: 450px;
    }


    .janela:nth-child(2) {
        position: absolute;
        top: 710px;
        left: 0;
        width: 500px;
        height: 300px;
        background-size: 500px;
        background-position-y: 0px;
        background-position-x: 0px;
    }

    .janela:nth-child(2) div.janela-texto {
        position: relative;
        top: 0px;
        bottom: 0px;
        left: 350px;
        height: 300px;
        width: 450px;
        border-radius: 8px;
        padding-top: 20px;
    }

    .janela:nth-child(2) div.janela-texto:hover{
        transition: all .5s ease-out;
        background-color: rgb(0, 178, 240, 0.8);
        bottom: 0px;
        width: 450px;
    }


    .janela:nth-child(3) {
        position: absolute;
        top: 350px;
        right: 0px;
        width: 500px;
        height: 300px;
        background-size: 500px;
        background-position-x: 75px;
        background-position-y: 8px;
    }

    .janela:nth-child(3) div.janela-texto {
        position: relative;
        top: 0px;
        bottom: 0px;
        left: -300px;
        height: 300px;
        width: 450px;
        border-radius: 8px;
        padding-top: 20px;
    }

    .janela:nth-child(3) div.janela-texto:hover{
        transition: all .5s ease-out;
        background-color: rgb(0, 178, 240, 0.8);
        bottom: 0px;
        width: 450px;
    }


    .janela:nth-child(4) {
        position: absolute;
        top: 1070px;
        right: 0px;
        width: 500px;
        height: 300px;
        background-size: 500px;
        background-position-x: 50px;
        background-position-y: 16px;
    }

    .janela:nth-child(4) div.janela-texto {
        position: relative;
        top: 0px;
        bottom: 0px;
        left: -300px;
        height: 300px;
        width: 450px;
        border-radius: 8px;
        padding-top: 20px;
    }

}





@media screen and (max-width: 430px) {
    /*
        CABEÇALHO - HEADER
    */

    #container {
        top: 130px;
        z-index: 1;
        border: 2px solid black;
        border-radius: 8px;
        background: #00b2f0;
    }

    .cybr-border02:after, .cybr-border02:before {
        display: none;
    }

    .cybr-border08 {
        display: none;
    }

    .cybr-border07{
        border: none;
    }

    .cybr-border07:after, .cybr-border07:before {
        border-radius: 8px;
        top: -1px;
    }

    .cybr-border:after, .cybr-border:before {
        display: none;
        border: none;
    }

    header .menu02 {
        margin-bottom: 100px;
    }

    header.rowT1 {
        display: none;
        height: 35px;
    }


}