
@media screen and (min-width: 1366px), (min-width: 1280px){
    
    
    /*Sessão Após o menu principal onde fica a parte do 
    Marketing Inicnial
        <-->Sessão 01<-->
    */
    #sessao01 {
        width: 1250px;
    }

    #mktOSC img {
        width: 640px;
    }

    #sessao01 #video video {
        bottom: 0px;
        left: 8px;
    }

    #sessao01 .loader {
        left: 90px;
        bottom: 50px; 
    }

    #mktOSC .tituloPrinc {
        top: 25px;
    }
    

    /*Sessão Sobre OLKAHA
        <-->Sessão 02<-->
    */
    .ui-tabs-vertical .ui-tabs-panel .lado02 {
        margin-right: 30px;
        margin-left: 45px;
    } 


    /*Sessão Sobre OLKAHA
        <-->Sessão 03<-->
    */
    #tabelaSobre {
        width: 1275px;
    }

    .quadro {
        width: 1185px;
    }

    .janela:nth-child(1) {
        background-size: 610px;
        background-position-x: -10px;
    }

    .janela:nth-child(2) {
        background-size: 610px;
        background-position-y: -10px;
        background-position-x: -15px;
    }

    .janela:nth-child(3), .janela:nth-child(4)  {
        width: 585px;
        background-size: 680px;
        background-position-x: -75px;
    }

    .janela:nth-child(1) div.janela-texto:hover, .janela:nth-child(2) div.janela-texto:hover,
    .janela:nth-child(3) div.janela-texto:hover, .janela:nth-child(4) div.janela-texto:hover{
        transition: all .5s ease-out;
        width: 550px;
    }

}




@media screen and (max-width: 1024px), (max-width: 1279px){
        /*Sessão Após o menu principal onde fica a parte do 
    Marketing Inicnial
        <-->Sessão 01<-->
    */
    #sessao01 {
        width: 950px;
        height: 800px;
    }

    #mktOSC img {
        width: 0px;
    }

    #sessao01 #video video {
        bottom: 150px;
        left: 19%;
    }

    #sessao01 .loader {
        left: 90px;
        bottom: 50px; 
    }

    #mktOSC .tituloPrinc {
        top: 25px;
        width: 800px;
        left: 85px;
        text-align: center;
    }

    #sessao01 .slogaEm {
        bottom: 0px;
        left: 0px;
    }


    /*Sessão Sobre OLKAHA
        <-->Sessão 02<-->
    */
    #tabes.ui-tabs-vertical {
        width: 100%;
    }

    #tabelaSobre {
        width: 985px;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(1), #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(2),
    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(3), #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(4) {
        background-size: 0px;
        width: 220px!important;
        height: 70px;
        left: 25px;
        border: 1px solid #00b2f0;
        
        justify-content: center;
        align-items: center;
    }
    
    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(5), #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(6) {
        display: none;
    }
    

    .ui-tabs .ui-tabs-nav li {
        clear: left;
        width: 120px!important;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li{
        width: 250px!important;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav {
        display: flex;
        height: 70px;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(1) {
        background: transparent url("../_img/search.png") 93% 50% no-repeat;
        background-size: 16px;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(1), #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(2), 
    #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(3), #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(4), 
    #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(5) {
        width: 220px!important;
    }

    .ui-tabs-active a{
        color: #fff!important;
        font-size: 18px!important;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li a {
        width: 150px;
        font-size: 15px;
        margin-left: -20px;
        padding-right: 20px!important;
        padding: 5px;
        line-height: 30px;
    }

    .ui-tabs-vertical .ui-tabs-panel {
        width: 70%;
    }

    .ui-tabs-vertical .ui-tabs-panel .lado02 {
        margin-right: 80px;
        margin-left: -170px;
    } 



    /*Sessão Serviços OLKAHA
        <-->Sessão 03<-->
    */

    .quadro {
        width: 1185px;
    }

    .janela:nth-child(1) {
        background-size: 610px;
        background-position-x: -10px;
    }

    .janela:nth-child(2) {
        background-size: 610px;
        background-position-y: -10px;
        background-position-x: -15px;
    }

    .janela:nth-child(3), .janela:nth-child(4)  {
        width: 585px;
        background-size: 680px;
        background-position-x: -75px;
    }

    .janela:nth-child(1) div.janela-texto:hover, .janela:nth-child(2) div.janela-texto:hover,
    .janela:nth-child(3) div.janela-texto:hover, .janela:nth-child(4) div.janela-texto:hover{
        transition: all .5s ease-out;
        width: 550px;
    }
}





@media screen and (max-width: 960px) {
    /*Sessão Após o menu principal onde fica a parte do 
    Marketing Inicnial
        <-->Sessão 01<-->
    */
    #sessao01 {
        width: 950px;
        height: 800px;
    }

    #mktOSC img {
        width: 0px;
    }

    #sessao01 #video video {
        bottom: 150px;
        left: 19%;
    }

    #sessao01 .loader {
        left: 90px;
        bottom: 50px; 
    }

    #mktOSC .tituloPrinc {
        top: 25px;
        width: 800px;
        left: 85px;
        text-align: center;
    }

    #sessao01 .slogaEm {
        bottom: 0px;
        left: 0px;
    }


    /*Sessão Sobre OLKAHA
        <-->Sessão 02<-->
    */
    #tabes.ui-tabs-vertical {
        width: 100%;
    }

    #tabelaSobre {
        width: 985px;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(1), #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(2),
    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(3), #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(4) {
        background-size: 0px;
        width: 220px!important;
        height: 70px;
        left: 25px;
        border: 1px solid #00b2f0;
        
        justify-content: center;
        align-items: center;
    }
    
    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(5), #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(6) {
        display: none;
    }
    

    .ui-tabs .ui-tabs-nav li {
        clear: left;
        width: 120px!important;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li{
        width: 250px!important;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav {
        display: flex;
        height: 70px;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li:nth-child(1) {
        background: transparent url("../_img/search.png") 93% 50% no-repeat;
        background-size: 16px;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(1), #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(2), 
    #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(3), #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(4), 
    #tabes.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active:nth-child(5) {
        width: 220px!important;
    }

    .ui-tabs-active a{
        color: #fff!important;
        font-size: 18px!important;
    }

    #tabes.ui-tabs-vertical .ui-tabs-nav li a {
        width: 150px;
        font-size: 15px;
        margin-left: -20px;
        padding-right: 20px!important;
        padding: 5px;
        line-height: 30px;
    }

    .ui-tabs-vertical .ui-tabs-panel {
        width: 70%;
    }

    .ui-tabs-vertical .ui-tabs-panel .lado02 {
        margin-right: 80px;
        margin-left: -170px;
    } 



    /*Sessão Serviços OLKAHA
        <-->Sessão 03<-->
    */

    .quadro {
        width: 800px;
    }

    .janela:nth-child(1) {
        background-size: 400px;
        position: absolute;
        background-position-y: 0px;
    }

    .janela:nth-child(2) {
        position: absolute;
        width: 400px;
        background-size: 400px;
        background-position-y: 10px;
        background-position-x: 0px;
    }

    .janela:nth-child(3) {
        width: 400px;
        background-size: 400px;
        background-position-x: 100px;
    }

    .janela:nth-child(4) {
        width: 400px;
        background-size: 400px;
        background-position-x: 0px;
    }

}